:root {
  /*Colors*/
  --primary-color: black;
  --secondary-color: rgb(96, 48, 253);
  --secondary-color-light: rgb(189, 172, 245);
  --text-color: rgb(106, 106, 106);
  --white-color: rgb(240, 240, 240);
  /*Fonts*/
  --big-font: 1.5rem;
  --h1-font: 2.5rem;
  --normal-font: 1.1rem;
  --medium-font: 0.9rem;
  --small-font: 0.75rem;

  /*Fonts-family*/
  --font-family: "Roboto", sans-serif;
}
main {
  height: 7000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
}

.space {
  height: 1px;
  width: 100%;
  background-color: rgb(223, 223, 223);
}
/*_______________________________  Section Home   ________________________*/
.section-home {
  position: relative;
  top: 100px;
  height: 60rem;
  width: 60rem;
}

.container-main-home {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 25rem 25rem 10rem;
}

.introduction {
  font-size: var(--h1-font);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.proffesion {
  font-size: var(--big-font);

  color: var(--text-color);
}

.short-description {
  max-width: 20rem;
  font-size: var(--normal-font);
  color: var(--text-color);
  margin-top: 1rem;
}
.donwload-cv,
.introduction__contact__me {
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: var(--normal-font);
  border: none;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 2rem;
}

.btn__img {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 0.3rem;
}

.link__img {
  height: 2rem;
  width: 2rem;
}

.links__list {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style-type: none;
}

.profil-img {
  background-color: black;
  width: 15rem;
  margin-left: 3rem;
}

/*_______________________________ Section About ________________*/
.section-about {
  position: relative;
  top: 100px;
  height: 60rem;
  width: 60rem;
}

.aboutme__description {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  column-gap: 10rem;
}

.my-photo {
  width: 20rem;
  height: 20rem;
  background-color: var(--primary-color);
}

.my-personal-description {
  font-size: var(--normal-font);
  color: var(--text-color);
  max-width: 22rem;
  margin-top: 1rem;
}

.achievements__list {
  display: grid;
  grid-template-columns: 7.3rem 7.3rem 7.3rem;
  list-style-type: none;
  margin-top: 2rem;
  padding: 0px;
}

.achievement__elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.achievement {
  text-align: center;
  font-size: var(--medium-font);
  color: var(--text-color);
}

.number__achievements {
  font-weight: bold;
  font-size: var(--big-font);
}

#download__link {
  text-decoration: none;
  color: var(--white-color);
}

/* ___________________________________ Skills-section _____*/
.section-skills {
  height: 80rem;
  width: 60rem;
  margin-top: 100px;
}

.skills__flex {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  column-gap: 10rem;
}

.frontend__skills {
  position: relative;
}

.progress__bar {
  height: 7px;
  width: 20rem;
  border-radius: 50%;
}
.progress__bar::-webkit-progress-value {
  border-radius: 0rem;
  background-color: var(--secondary-color);
}
.progress__bar::-webkit-progress-bar {
  border-radius: 0rem;
  background-color: var(--secondary-color-light);
}

.skills__named {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.prog__language {
  font-size: var(--normal-font);
  font-weight: 700;
}

.percentage {
  color: var(--text-color);
}

.skills__category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.btn__arrow {
  width: 2.5rem;
  transition-duration: 350ms;
}

.roation__animation {
  transform: rotate(180deg);
  transition-duration: 350ms;
}
.category__language {
  font-size: var(--big-font);
  font-weight: 700;
}

.show__skills {
  opacity: 0;
}
/*_____________________________ Qualification Subsection*/
.qual__title {
  margin-top: 5rem;
}

.nav__tab__qualification {
  display: flex;
  justify-content: end;
  align-items: center;
}

.list__qualification {
  display: grid;
  grid-template-columns: 17rem 17rem 17rem;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding: 0px;
  width: 60rem;
}

.elem {
  margin-top: 5rem;
  background-color: rgb(54, 126, 71);
  height: 15rem;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px transparent solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.elem:hover {
  border: 2px rgb(255, 59, 59) solid;
}

.card__img {
  margin-top: 1.5rem;
  height: 3rem;
}
.title__card {
  font-size: var(--big-font);
  font-weight: bold;
  margin: 0.5rem;
}
.description__card {
  max-width: 13rem;
  font-size: var(--medium-font);
  margin-top: 1rem;
  color: rgb(213, 213, 213);
}
/*___________________________________ Section Projects ____*/

.section-projects {
  height: 60rem;
  width: 60rem;
  background-color: lightcoral;
}

.slider {
  width: 30rem;
  height: 30rem;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  height: 30rem;
  width: 30rem;
  background-color: rgb(202, 202, 202);
  transition: transform 0.4s ease;
}

.slider__btn {
  position: absolute;

  z-index: 10;
  top: 50%;
}
.slider__btn--left {
  left: 8%;
  transform: translate(-50%, -50%);
}
.slider__btn--right {
  right: 0%;
  transform: translate(-50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #6b6b6b;
  opacity: 0.7;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #e0e0e0;
  opacity: 1;
}

/*Common styles*/

.sections--header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section--title {
  margin-top: 8rem;
  font-size: var(--h1-font);
  font-weight: bold;
}

.section--subtitle {
  font-size: var(--normal-font);
  font-weight: 500;
  color: var(--text-color);
  margin-top: 0.5rem;
}

@media screen and (max-width: 1100px) {
  .sections--header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* ______________________ About me Section*/

  .section-about {
    height: 75rem;
  }
  .aboutme__description {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    text-align: center;
  }

  .achievements__list {
    margin-left: 1rem;
  }
  .my-photo {
    width: 21rem;
  }

  .container__download__CV {
    display: flex;
    justify-content: center;
  }
  /* ______________________ Skills Section*/

  .section-skills {
    height: 125rem;
  }

  .skills__flex {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 20rem;
    row-gap: 2rem;
  }

  .container__skills {
    width: 20rem;
  }

  .list__qualification {
    grid-template-columns: 17rem;
  }

  .elem {
    margin-top: 2rem;
  }
}
